@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

.container {
    height: 350px;
    width: 350px;
    border: 1px solid rgb(29, 29, 117);
    border-radius: 5px;
    margin: 10rem auto;
    text-align: center;
    background: linear-gradient(rgba(56, 56, 77, 0.658), rgba(73, 48, 48, 0.678)),
    url('../images/1.jpg');
    background-size: cover;
    background-position: center;
}

.container > input, .container button {
    display: block;
    margin: 1rem auto;
}

.container button {
    width: 5rem;
    padding: 0.3rem;
    color: aliceblue;
    background-color: rgba(27, 27, 43, 0.658);
}

.container h3 {
    margin: 2rem;
    color: aliceblue;
    text-transform: capitalize;
}

.container p {
    color: aliceblue;
    font-size: 1.5rem;
}